@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  color: #333;
}

p {
  color: #70747a;
}

.navbar-container {
  width: 100%;
  height: 80px;
  background-color: #fff;
  padding: 0 2rem;
}

nav {
  position: relative;
}

.logo {
  width: 85px;
  margin-left: 0;
}

.navbar-items {
  position: absolute;
  right: 0px;
  height: 80px;
  line-height: 80px;
  margin: 0;
  display: inline-block;
}

.navbar-items li {
  display: inline-block;
  margin-left: 25px;
}

.navbar-items li:nth-child(5) a {
  text-transform: none;
}

.navbar-items a {
  color: #2552a7;
  text-decoration: none;
  transition: 0.5s;
}

.navbar-items a:hover {
  color: black;
}

.default-btn {
  padding: 8px 15px;
  background-color: transparent;
  border: 1px #2552a7 solid;
  border-radius: 20px;
}

.navbar-items .default-btn:hover {
  background-color: #7697d3;
  color: white;
}

.main-banner {
  background-image: url("../img/aaa.png");
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 200px 100px;
  align-items: start;
}

.card {
  width: auto !important;
  width: 400px;
  padding: 22px 30px;
  border-radius: 5px;
  line-height: 1.8;
}

#more {
  display: none;
}

#more:checked ~ .content-more {
  display: block;
}

#more:checked ~ label {
  display: none;
}

.content-more {
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  background-color: #2552a7;
  padding: 3px 13px;
  border-radius: 3px;
  margin-top: 12px;
}

.main-banner h1,
.main-banner p {
  color: #fff;
  justify-content: center;
  text-align: start;
  font-weight: bold;
  text-shadow: #000 3px 2px 3px;
}

.main-banner h1 {
  font-size: 36px;
}

.main-banner p {
  font-size: 26px;
  border: 0;
}

.about-container ul {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.about-container li {
  flex: 1 1 200px;
  list-style: none;
  text-align: center;
  padding: 20px;
}

.about-container h2 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-weight: 600;
  font-size: 36px;
  color: black;
}

.about-container h3 {
  color: #2552a7;
  margin-bottom: 25px;
}

.about-container p {
  line-height: 24px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-ctt {
  display: flex;
  padding: 10px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#ctt-container {
  display: flex;
  background: #2552a7;
  padding: 10px 30px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ctt-button {
  color: white;
  font-size: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#ctt-container a {
  text-decoration: none;
}

.categorias-container {
  display: flex;
  padding: 100px 100px 200px 100px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  align-self: stretch;
}

.categorias-container h2 {
  color: #000;
  font-size: 36px;
  font-weight: 600;
  text-decoration: none;
}

.tools-container {
  align-self: stretch;
  height: 373px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  display: flex;
}

.tools-single {
  display: flex;
  align-items: center;
  gap: 50px;
  align-self: stretch;
}

.bgtools {
  width: 400px;
  height: 373px;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.imgfront {
  height: 271px;
  flex-shrink: 0;
  align-self: stretch;
}

.named-tools {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  background: #f5f6f7;
}

.named-tools h3 {
  color: black;
  font-size: 26px;
  font-family: 'Poppins';
  font-weight: 400;
}

.search-box {
  position: absolute;
  top: 50%;
  left: 23%;
  transform: translate(-50%, -50%);
  background: #9999;
  width: 388px;
  height: 40px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  color: #000;
  font-size: 16px;
  line-height: 40px;
}

.search-btn {
  width: 10px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  border-top: 2px solid rgba(255, 253, 253, 0.1);
  background: var(--ColorWhite, #fff);
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.contacts {
  display: flex;
  width: 200px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contacts-meio {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

#links,
#faleConosco {
  font-family: 'Poppins';
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
