/* INÍCIO DO "CABEÇALHO" */

.logo {
	width: 50%;
	width: 100px;
	height: auto;
}

.navbar {
	background-color: var(--colorWhite);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 100%;

}

.conteudo {
	display: flex;
	padding: 1rem 0.5rem;
	align-items: center;
	margin: 0;
	width: 100%;

}

.navbarInput {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	background-color: var(--colorNeutral1);
	padding: 0.625rem 1.25rem;
	border-radius: 0.5rem;
	color: var(--colorNeutral4);
	width: 100%;
	margin-bottom: 15px;
	width: 100%;

}

.navbarInput input {
	width: 100%;
}

.search {
	width: 20px;
	height: 20px;
}

.navbarBotao {
	cursor: pointer;
	border: 0.5px solid var(--colorNeutral2);
	color: var(--colorNeutral2);
	border-radius: 1.25rem;
	padding: 0.5rem 2rem;
	margin-bottom: 15px;

}

/* FIM DO "CABEÇALHO" */

/* INÍCIO DOS PRODUTOS */

.produtosContainer {
	display: flex;
	align-items: flex-start;
	padding: 20px;
	width: 100%;
}

.image img {
	padding: 20px;
	width: 100%;
	width: 400px;
	height: auto;

}

.texto {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding: 20px;
	width: 100%;

}

.nome {
	font-size: 25px;
}

.descricao {
	font-size: 15px;
	margin-top: 15px;
}

.preco {
	font-size: 25px;
	margin-top: 25px;
}

.distancia {
	font-size: 25px;
}

.localizacao {
	display: flex;
	flex-direction: row;
	margin-top: 25px;
}

.local {
	width: 30px;
	height: 30px;

}

.localData {
	font-size: 15px;
}

.botoes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 15px;
	width: 100%;
}

.botaoFav {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	border: 0.5px solid var(--colorNeutral2);
	border-color: rgb(27, 46, 191);
	color: rgb(27, 46, 191);
	border-radius: 10px;
	padding: 5px;

}

.coracao {
	width: 25px;
	height: 25px;
	margin-right: 20px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 2px;
}

.favTexto {
	display: flex;
	align-self: center;

}

.botaoComp {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	border: 0.5px solid var(--colorNeutral2);
	border-color: rgb(27, 46, 191);
	color: rgb(27, 46, 191);
	border-radius: 10px;

}

.share {
	width: 25px;
	height: 25px;
	margin-left: 5px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 4px;

}

.compTexto {
	display: flex;
	align-self: center;
	margin-right: 5px;

}

.botaoDenum {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	border: 0.5px solid var(--colorNeutral2);
	border-color: rgb(27, 46, 191);
	color: rgb(27, 46, 191);
	border-radius: 10px;
	padding: 5px;

}

.flag {
	width: 25px;
	height: 25px;
	margin-left: 5px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 2px;

}

.denumTexto {
	display: flex;
	align-self: center;
	margin-right: 5px;
}

.botaoContato {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	border: 0.5px solid var(--colorNeutral2);
	border-color: rgb(27, 46, 191);
	background-color: rgb(27, 46, 191);
	border-radius: 10px;
	padding: 5px;


}

.contato {
	display: flex;
	align-self: center;
	margin-right: 10px;
	margin-left: 10px;
	color: white;
}