.navbar {
	background-color: var(--colorWhite);
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	padding: 0.75rem 1.25rem;
	max-height: 80px;
}

.navbar__content {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.75rem;
}

.navbar__search-form {
	background-color: var(--colorNeutral-200);
	padding: 0.5rem;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	min-width: 300px;
}

.navbar__search-form input {
	flex: 1 1 0%;
	color: var(--textBlack);
	font-size: 0.875rem;
}

.navbar__search-form input::placeholder {
	color: var(--textGray);
}

.navbar__logo {
	width: 80px;
	height: auto;
}

.navbar__login-button {
	display: block;
	text-align: center;
	text-decoration: none;
	border: 0.5px solid var(--colorNeutral-300);
	border-radius: 50px;
	padding: 0.75rem 1rem;
	min-width: 120px;
	color: var(--colorNeutral-300);
	font-size: 0.875rem;
	transition: all 0.2s ease-in-out;
}

.navbar__login-button:hover {
	background-color: var(--colorSecondary);
	color: var(--textWhite);
	border-color: transparent;
}

/* TODO MOVE THIS MEDIA QUERY TO THE END OF THE PAGE */
@media (max-width: 768px) {
	.navbar__search-form {
		display: none;
	}
}

.produtosContainer {
	display: flex;
	align-items: flex-start;
	padding: 20px;
	width: 100%;
}

.image img {
	padding: 20px;
	width: 100%;
	width: 400px;
	height: auto;
}

.texto {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding: 20px;
	width: 100%;
}

.nome {
	font-size: 25px;
}

.descricao {
	font-size: 15px;
	margin-top: 15px;
}

.preco {
	font-size: 25px;
	margin-top: 25px;
}

.distancia {
	font-size: 25px;
}

.localizacao {
	display: flex;
	flex-direction: row;
	margin-top: 25px;
}

.local {
	width: 30px;
	height: 30px;
}

.localData {
	font-size: 15px;
}

.botoes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 15px;
	width: 100%;
}

.botaoFav {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	border: 0.5px solid var(--colorNeutral2);
	border-color: rgb(27, 46, 191);
	color: rgb(27, 46, 191);
	border-radius: 10px;
	padding: 5px;
}

.coracao {
	width: 25px;
	height: 25px;
	margin-right: 20px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 2px;
}

.favTexto {
	display: flex;
	align-self: center;
}

.botaoComp {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	border: 0.5px solid var(--colorNeutral2);
	border-color: rgb(27, 46, 191);
	color: rgb(27, 46, 191);
	border-radius: 10px;
}

.share {
	width: 25px;
	height: 25px;
	margin-left: 5px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 4px;
}

.compTexto {
	display: flex;
	align-self: center;
	margin-right: 5px;
}

.botaoDenum {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	border: 0.5px solid var(--colorNeutral2);
	border-color: rgb(27, 46, 191);
	color: rgb(27, 46, 191);
	border-radius: 10px;
	padding: 5px;
}

.flag {
	width: 25px;
	height: 25px;
	margin-left: 5px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 2px;
}

.denumTexto {
	display: flex;
	align-self: center;
	margin-right: 5px;
}

.botaoContato {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	border: 0.5px solid var(--colorNeutral2);
	border-color: rgb(27, 46, 191);
	background-color: rgb(27, 46, 191);
	border-radius: 10px;
	padding: 5px;
}

.contato {
	display: flex;
	align-self: center;
	margin-right: 10px;
	margin-left: 10px;
	color: white;
}
