:root {
	--colorWhite: #ffffff;
	--colorBlack: #000000;
	--textWhite: #ffffff;
	--textBlack: #000000;
	--colorPrimary: #2552a7;
	--colorNeutral-100: #f5f6f7;
	--colorNeutral-200: #e7e7e7;
	--colorNeutral-300: #3c4453;
}
