<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CadastroCliente</title>
</head>
<body>
  <div class="modal hidden" id="contactModal">
      <div class="modal__card">
        <button class="modal__close-button" id="closeContactModal">
          <i class="fa-solid fa-xmark"></i>
        </button>
        <div class="modal__content">
          <h2>Contato</h2>
					<p>Gabriel da Silva</p>
					<p>Telefone: (45) 9999-9999</p>
        </div>
      </div>
    </div>
</body>
</html>