<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>FVM Login</title>
		<link rel="stylesheet" href="/src/styles/login.css" />
		<link
			rel="shortcut icon"
			href="/src/assets/images/favicon.png"
			type="image/x-icon"
		/>
	</head>
	<body>
		<main>
			<div id="main-container">
				<div id="form-container">
					<div id="form-box">
						<img
							id="logo-GID"
							src="/src/assets/images/GetItDone.png"
							alt="Get It Done"
						/>
						<form id="login-form">
							<input
								type="text"
								name="username"
								placeholder="Número de telefone, usuário ou e-mail"
							/>
							<input
								type="password"
								name="password"
								placeholder="Senha"
							/>
							<input type="submit" value="Entrar" />
						</form>
						<div class="separator">
							<div class="line"></div>
							<span>Ou</span>
						</div>
						<div id="other-links">
							<div id="forgot-pass">
								<a href="#">Esqueceu a senha?</a>
							</div>
						</div>
					</div>
					<div id="register-container">
						<p>Não tem uma conta? <a href="#">Cadastre-se</a></p>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
