<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

		<title>FVM - Compra e Venda de Ferramentas</title>

		<link
			rel="shortcut icon"
			href="/src/assets/images/favicon.ico"
			type="image/x-icon"
		/>

		<script
			src="https://kit.fontawesome.com/e7fc9f162e.js"
			crossorigin="anonymous"
			defer
		></script>

		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
			rel="stylesheet"
		/>

		<link rel="stylesheet" href="/src/styles/reset.css" />
		<link rel="stylesheet" href="/src/styles/variables.css" />
		<link rel="stylesheet" href="/src/styles/product.css" />
	</head>

	<body>
		<nav class="navbar">
			<div class="navbar__content">
				<a href="/src/index.html">
					<img
						src="/src/assets/images/FVMLogoWithoutText.png"
						alt="Logo da FVM"
						class="navbar__logo"
					/>
				</a>
				<form class="navbar__search-form">
					<input type="text" placeholder="Buscar ferramentas" />
					<button type="submit">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</form>
			</div>
			<a href="/src/views/login.html" class="navbar__login-button"
				>Entrar</a
			>
		</nav>

		<header>
			<!-- Informação dos produtos -->

			<div class="produtosContainer">
				<div class="image">
					<img
						src="/src/assets/images/betorneira.png"
						alt="Betorneira"
					/>
				</div>
				<div class="texto">
					<h3 class="nome">
						Martelo ferradura Cabo Madeira Stanley 200g 25mm.
					</h3>
					<p class="descricao">
						Lorem ipsum dolor sit amet consectetur, adipisicing
						elit. Molestias eaque dignissimos<br />
						veniam suscipit hic iure sint, eius necessitatibus unde
						harum ab dicta delectus dolores vero<br />
						modi quam molestiae ipsam vitae?
					</p>
					<p class="preco"><strong>R$ 70,00</strong>/Diária</p>
					<p class="distancia">À <strong>5km</strong> de distância</p>
					<div class="localizacao">
						<i class="fa-solid fa-location-dot local"></i>
						<p class="localData">
							Maringá, Zona 07 | 14 de Set, 12:02
						</p>
					</div>

					<div class="botoes">
						<button class="botaoFav">
							<i class="fa-solid fa-heart coracao"></i>
							<p class="favTexto">Favoritar</p>
						</button>
						<button class="botaoComp">
							<i class="fa-solid fa-share-nodes share"></i>
							<p class="compTexto">Compartilhar</p>
						</button>
						<button class="botaoDenum">
							<i class="fa-solid fa-flag flag"></i>
							<p class="denumTexto">Denunciar</p>
						</button>
						<button class="botaoContato">
							<p class="contato">Contato</p>
						</button>
					</div>
				</div>
			</div>
		</header>
	</body>
</html>
