<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <title>FVM - Compra e Venda de Ferramentas</title>

    <link
      rel="shortcut icon"
      href="/src/assets/images/favicon.ico"
      type="image/x-icon"
    />

    <script
      src="https://kit.fontawesome.com/e7fc9f162e.js"
      crossorigin="anonymous"
      defer
    ></script>

    <script src="/src/js/products.js" defer></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/src/styles/reset.css" />
    <link rel="stylesheet" href="/src/styles/variables.css" />
    <link rel="stylesheet" href="/src/styles/products.css" />
  </head>
  <body>
    <div class="modal hidden" id="filterModal">
      <div class="modal__card">
        <button class="modal__close-button" id="closeFilterModalButton">
          <i class="fa-solid fa-xmark"></i>
        </button>
        <div class="modal__content">
          <h2>Filtros</h2>
          <form id="filterModalForm">
            <div class="modal__content__filters">
              <div>
                <label id="priceRangeFilter">Preço</label>
                <div class="filter__input-wrapper">
                  <div class="filter__input-slider">
                    <span>500</span>
                  </div>
                  <div class="filter__input-container">
                    <span>R$0</span>
                    <input
                      type="range"
                      name="priceRange"
                      id="priceRangeFilter"
                      class="form-range-input"
                      min="0"
                      max="1000"
                    />
                    <span>R$1000</span>
                  </div>
                </div>
              </div>
              <div>
                <label id="distanceRangeFilter">Distância</label>
                <div class="filter__input-wrapper">
                  <div class="filter__input-slider">
                    <span>50</span>
                  </div>
                  <div class="filter__input-container">
                    <span>0km</span>
                    <input
                      type="range"
                      name="distanceRange"
                      id="distanceRangeFilter"
                      class="form-range-input"
                      min="0"
                      max="100"
                    />
                    <span>100km</span>
                  </div>
                </div>
              </div>
              <div>
                <label id="categoryDropdownFilter">Categoria</label>
                <select name="category" id="categoryDropdownFilter"></select>
              </div>
            </div>
            <div class="modal__content__button">
              <button class="primary-button">Aplicar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <nav class="navbar">
      <div class="navbar__content">
        <a href="/index.html">
          <img
            src="/src/assets/images/FVMLogoWithoutText.png"
            alt="Logo da FVM"
            class="navbar__logo"
          />
        </a>
        <form class="navbar__search-form">
          <input type="text" placeholder="Buscar ferramentas" />
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
      <a
        href="/src/views/login.html"
        title="Clique para entrar"
        class="navbar__login-button"
      >
        Entrar
      </a>
    </nav>

    <main class="main">
      <div class="products__filters">
        <h2>Produtos disponíveis</h2>
        <div>
          <button
            class="button-icon"
            title="Abrir menu de filtros"
            id="filterModalButton"
          >
            <i class="fa-solid fa-filter"></i>
          </button>
          <button class="button-icon" title="Trocar vizualização dos produtos">
            <i class="fa-solid fa-table-cells-large"></i>
          </button>
          <button class="filters__order-by-button">
            Ordenar por <i class="fa-solid fa-angle-down"></i>
          </button>
        </div>
      </div>
      <section class="products">
        <a href="/src/views/product.html" class="grid-product">
          <button title="Favoritar produto" class="grid-product__like-button">
            <i class="fa-regular fa-heart"></i>
          </button>
          <img
            class="grid-product__image"
            src="/src/assets//images/betorneira.png"
          />
          <div class="grid-product__info">
            <h3>Betoneira 150 Litros 0,5CV Monofásica</h3>
            <div>
              <strong>R$ 2.400,00</strong>
              <strong>5km</strong>
            </div>
          </div>
        </a>
        <a href="/src/views/product.html" class="grid-product">
          <button title="Favoritar produto" class="grid-product__like-button">
            <i class="fa-regular fa-heart"></i>
          </button>
          <img
            class="grid-product__image"
            src="/src/assets//images/betorneira.png"
          />
          <div class="grid-product__info">
            <h3>Betoneira 150 Litros 0,5CV Monofásica</h3>
            <div>
              <span><strong>R$ 2.400,00</strong></span>
              <strong>5km</strong>
            </div>
          </div>
        </a>
        <a href="/src/views/product.html" class="grid-product">
          <button title="Favoritar produto" class="grid-product__like-button">
            <i class="fa-regular fa-heart"></i>
          </button>
          <img
            class="grid-product__image"
            src="/src/assets//images/betorneira.png"
          />
          <div class="grid-product__info">
            <h3>Betoneira 150 Litros 0,5CV Monofásica</h3>
            <div>
              <span><strong>R$ 2.400,00</strong></span>
              <strong>5km</strong>
            </div>
          </div>
        </a>
        <a href="/src/views/product.html" class="grid-product">
          <button title="Favoritar produto" class="grid-product__like-button">
            <i class="fa-regular fa-heart"></i>
          </button>
          <img
            class="grid-product__image"
            src="/src/assets//images/betorneira.png"
          />
          <div class="grid-product__info">
            <h3>Betoneira 150 Litros 0,5CV Monofásica</h3>
            <div>
              <span><strong>R$ 2.400,00</strong></span>
              <strong>5km</strong>
            </div>
          </div>
        </a>
        <a href="/src/views/product.html" class="grid-product">
          <button title="Favoritar produto" class="grid-product__like-button">
            <i class="fa-regular fa-heart"></i>
          </button>
          <img
            class="grid-product__image"
            src="/src/assets//images/betorneira.png"
          />
          <div class="grid-product__info">
            <h3>Betoneira 150 Litros 0,5CV Monofásica</h3>
            <div>
              <span><strong>R$ 2.400,00</strong></span>
              <strong>5km</strong>
            </div>
          </div>
        </a>
        <a href="/src/views/product.html" class="grid-product">
          <button title="Favoritar produto" class="grid-product__like-button">
            <i class="fa-regular fa-heart"></i>
          </button>
          <img
            class="grid-product__image"
            src="/src/assets//images/betorneira.png"
          />
          <div class="grid-product__info">
            <h3>Betoneira 150 Litros 0,5CV Monofásica</h3>
            <div>
              <span><strong>R$ 2.400,00</strong></span>
              <strong>5km</strong>
            </div>
          </div>
        </a>
      </section>
    </main>

    <footer class="footer">
      <div>
        <h3>Links</h3>
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a href="/src/views/login.html">Login</a></li>
          <li><a href="/src/views/products.html">Produtos</a></li>
        </ul>
      </div>
      <div>
        <h3>Fale conosco</h3>
        <ul>
          <li><a href="#">Whatsapp</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Email</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
