<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <title>FVM - Compra e Venda de Ferramentas</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="/src/assets/images/favicon.ico"
      type="image/x-icon"
    />

    <script src="/src/js/signup.ts" type="module" defer></script>

    <link rel="stylesheet" href="/src/styles/reset.css" />
    <link rel="stylesheet" href="/src/styles/variables.css" />
    <link rel="stylesheet" href="/src/styles/register.css" />
  </head>
  <body>
    <main class="main">
      <div id="main-container">
        <div id="form-container">
          <div id="form-box">
            <a href="/index.html"
              ><img
                id="logo-GID"
                src="/src/assets/images/FVMLogoWithText.webp"
                alt="Logo da FVM"
            /></a>
            <form class="login-form" id="signupForm">
              <input type="text" name="name" placeholder="Nome" required />
              <input type="email" name="email" placeholder="Email" required />
              <input
                type="password"
                name="password"
                placeholder="Senha"
                required
                minlength="8"
              />
              <button type="submit" class="primary-button">Criar conta</button>
            </form>
            <p id="errorContainer" class="error-container"></p>
          </div>
          <div id="register-container">
            <p>
              Já possui uma conta?
              <a href="/src/views/login.html">Login</a>
            </p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
